<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WeekTech 2026 - FAQ</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='ajuda.css') }}">
</head>
<body>
    <section class="faq-icons">
        <h2>Perguntas Frequentes</h2>
        <details>
            <summary> Pergunta 1 </summary>
            <p>
                Resposta pergunta 1
            </p>
        </details>
        <details>
            <summary> Pergunta 2 </summary>
            <p>
                Resposta Pergunta 2
            </p>
        </details>
        <details>
            <summary> Pergunta 3 </summary>
            <p>
                Resposta Pergunta 3
            </p>
        </details>
        <details>
            <summary> Pergunta 4 </summary>
            <p>
                Resposta Pergunta 4
            </p>
        </details>
        <details>
            <summary> Pergunta 5 </summary>
            <p>
                Resposta Pergunta 5
            </p>
        </details>
    </section>
</body>
</html>