<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Desenvolvedores</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='devs.css') }}">
    <p> Pagina de Desenvolvedores muito foda</p>
</head>
<body>
    <nav class="navbar">
        <span class="logo">UniCesumar</span>
        <span class="nome-evento">WeekTech, 1ª Edição</span>
        <a href="{{ url_for('index') }}" class="btn-voltar">Voltar</a>

        <header class="titulo-pagina">
            <h1> Time de Desenvolvimento</h1>
            <p> Conheça as mentes de Desenvolvimento
                por trás da WeekTech
            </p>
        </header>

        <main class="titulo-pagina">
            <div class=""



        </main>
    </nav>
</body>
</html>

