<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Unicesumar WeekTech</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<body>
    <!-- traduzi todas as classes para português -->
    <nav class="navbar">
        <div class="nav-esquerda">
            <!-- Quero colocar a imagem da uni junto com o nome para ficar massa -->
            <span class="logo">UniCesumar</span>
            <span class="nome-evento">WeekTech, 1ª Edição</span>
        </div>


        <!--Mudar as # para dar as rotas com o Python -->
        <div class="nav-direita">
            <a href="{{ url_for ('devs') }}">Desenvolvedores</a>
            <a href="{{ url_for ('palestrantes') }}">Palestrantes</a>
            <a href="{{ url_for ('ajuda') }}">Ajuda</a>
            <a href="{{ url_for ('inscricao') }}" class="btn-primario">Inscrever-se</a>
        </div>
    </nav>

    <main class="main">
        
        <!-- Queremos mudar o estilo ou o jeito do layout disso -->
        <div class="distintivo">
            <span class="distintivo-dot"></span>
            Inscrições para o Envento · 1ª Edição 2026
        </div>


        <!-- Span class siginifica uma classe colocar no CSS para dar destaque -->
        <h1 class="titulo">
           O futuro é a <span class="destaque">IA.</span> <br>
            Potencializando negócios <br> e <span class="destaque">Tecnologias </span>com  <br>
            inteligência de dados
        </h1>

        <p class="descricao">
          A Tech Week propõe uma abordagem prática e contemporânea sobre o uso da Inteligência Artificial (IA), 
          destacando sua aplicação real em diferentes contextos organizacionais e sociais. O tema “Inteligência Artificial em Ação” 
          enfatiza não apenas a compreensão teórica, 
          mas principalmente a vivência e experimentação das tecnologias que estão moldando o presente.
        </p>

        <!-- Area principal para os botões de incrição e programação do evento-->
        <div class="botao">

            <!-- não foi IA, eu mesmo coloquei. ​✨ -->
            <button class="btn-main">Garanta sua vaga ​✨​</button>
            <button class="btn-secundario">Ver programação do Evento</button>
        </div>

        
        <!-- ainda tentando fazer, quero pular uma linha nos botoes para colocar mais informações sobre o evento -->
        <p class = "texto_informacoes">
            informações pikas  
        </p>
    </main>

        
    <p class = "texto_informacoes">
            informações importantes
        </p>
    </main>

    <div class="localizacao">
        <div class="mapa-container">
            <h1 class="titulo-mapa">Localização</h1>
    
            <iframe 
                src="https://www.google.com/maps?q=-23.3036894,-51.1407595&output=embed">
            </iframe>

            <a 
                href="https://www.google.com/maps?q=-23.3036894,-51.1407595" 
                target="_blank" 
                class="btn-maps">
            Abrir no Google Maps
            </a>

        </div>
    </div>

    <video autoplay muted loop playsinline id="bg-video">
        <source src="{{ url_for('static', filename='fundo.mp4') }}" type="video/mp4">
    </video>
    
</body>
</html>
</body>
</html>