body {
    margin: 0;
    font-family: 'Inter', sans-serif;
    color: white;
    min-height: 100vh;
    /* Mudei a cor de fundo e adicionei um degrade usando as cores preto e roxo */
    background: linear-gradient(135deg, #000000 0%, #000000 100%);
    padding-left: 5%;
}



/* NAVBAR */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px 48px;
}

.nav-esquerda {
    display: flex;
    gap: 16px;
}
/* troquei a cor de da logo UniCesumar */
.logo {
    font-weight: bold;
    color: #2563eb;
}
/* troquei a fonte da classe nome-evento */
.nome-evento {

    color: #9ca3af;
    font-weight: bold;
}

.nav-direita {
    display: flex;
    gap: 32px;
    font-size: 14px;
}

.nav-direita a {
    color: #d1d5db;
    text-decoration: none;
}

.nav-direita a:hover {
    color: white;
}

.btn-primaria {
    background-color: #2563eb;
    padding: 8px 20px;
    border-radius: 999px;
    color: white;
}

/* MAIN */
.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 80px;
    padding: 0 16px;
}

/* BADGE */
.distintivo {
    display: inline-flex;
    align-items: center;
    gap: 8px;

    border: 1px solid rgba(30, 58, 138, 0.5);
    background-color: rgba(23, 37, 84, 0.2);

    padding: 4px 16px;
    border-radius: 9999px;

    font-size: 12px;
    color: #93c5fd;

    margin-bottom: 32px;
    font-style:italic;
}

.distintivo-dot {
    width: 8px;
    height: 8px;
    background-color: #3b82f6;
    border-radius: 50%;
    animation: pulse 1.5s infinite;
}

/* TEXTO */
.titulo {
    font-size: 49px;
    text-align: left;
    font-weight: bold;
    max-width: 900px;
    line-height: 1.2;
    font-family: 'Courier New', Courier, monospace;
    margin-right:auto;
}

.destaque {
    color: #13a6e0;
    font-style:italic;
}

.descricao {
    text-align: left;
    margin-left: 0;
    margin-right: auto;
    color: #ffffff;
    margin-top: 24px;
    max-width: 700px;
    font-family:'Courier New', Courier, monospace;
}

/* BOTÕES */
.botao {
    text-align:left;
    display: flex;
    gap: 16px;
    margin-top: 40px;
    justify-content: flex-start;
    margin-left:0;
    margin-right:auto;
}

.btn-main {
    text-align:left;
    background-color: #039ea3;
    color: white;
    font-weight: 600;
    padding: 12px 24px;
    border-radius: 999px;
    border: none;
    cursor:pointer;
    transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

.btn-secundario {
    border: 1px solid #374151;
    background: none;
    color: white;
    padding: 12px 24px;
    border-radius: 999px;
    cursor:pointer;
    transition: all 0.3s ease;
}

.btn-main:hover {
    background-color: a020f0;
    transform: translatey(-3px);
    box-shadow: 0 10px 20px rgba(5, 135, 221, 0.3);
}

.btn-main:active {
    transform: translatey(-1px);
    box-shadow: 0 5px 10px rgba(128, 0, 128, 0.3);
}

.btn-secundario:hover {
    border-color: 800080;
    color: 800080;
    background-color: rgba(128, 0, 128, 0.05);
}

.btn-secundario:active {
    transform: scale(0.98);
}
